[submodule "frontend"]
	path = frontend
	url = https://github.com/Jet-Green/inventory-rental.git

[submodule "backend"]
	path = backend
	url = https://github.com/Jet-Green/inventory-rental-backend.git
